{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Data Set Add{% endblock %}
{% block body %}
<center>

    <h2><font color="#366092">Data Set Add</font></h2>
    <div class="container">
    <form role="form" name="frm" action="{% url 'admin_data_set_add' %}" method="post">
            {% csrf_token %}
        <div class="form-group">
            <label for="label_id">Label</label>
	        <select class="form-control" id="label_id"  name="label_id">
		            {% for  c in label_list%}
		        	<option value="{{c.id}}">{{c.label}}</option>
		            {% endfor %}
		        </select>
        </div>
        <div class="form-group">
            <label for="data_file">Words</label>
            <input class="form-control" type="text"  id="data_file" name="data_file" placeholder="Enter  words" required="required">
        </div>
        <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
    </form>
    </div>
</center>
{% endblock %}