{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Category Add{% endblock %}
{% block body %}
<center>
    <h1>Category Add</h1>
     <div class="container">
         <form role="form" name="frm" action="{% url 'admin_type_master_add'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="type_name">Category :</label>
            <input class="form-control" type="text" name="type_name" id="type_name" value="">
        </div>
       <button type="submit"
        class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
